name: Publish release

on:
  workflow_dispatch:
    inputs:
      version_ckan:
        description: "Version for CKAN"
        required: true
        default: "1.3.5"
      version_discovery:
        description: "Version for Discovery Service"
        required: true
        default: "1.3.1"
      version_solr:
        description: "Version for Solr"
        required: true
        default: "1.3.6"
      version_solr_with_lower_dashes:
        description: "Version for Solr (lower-dashed format)"
        required: true
        default: "1_3_6"

env:
  CKAN_NAME: ghcr.io/genomicdatainfrastructure/gdi-userportal-ckan-docker
  DISCOVERY_IMAGE: ghcr.io/genomicdatainfrastructure/gdi-userportal-dataset-discovery-service
  SOLR_IMAGE: ghcr.io/genomicdatainfrastructure/gdi-userportal-solr

jobs:
  deploy-to-acc:
    runs-on: ubuntu-latest
    environment: acc 
    env:  
      AZURE_CKAN_APP_NAME: healthri-ckan-uac
      AZURE_CKAN_RESOURCE_GROUP: healthri-uac
      AZURE_DISCOVERY_APP_NAME: dataset-discovery-service-acc
      AZURE_DISCOVERY_RESOURCE_GROUP: healthri-uac
      AZURE_SOLR_APP_NAME: healthri-ckan-solr-uac
      AZURE_SOLR_RESOURCE_GROUP: healthri-uac
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Update image version CKAN
        run: |
          az webapp sitecontainers update \
            --name "${AZURE_CKAN_APP_NAME}" \
            --resource-group "${AZURE_CKAN_RESOURCE_GROUP}" \
            --container-name main \
            --is-main true \
            --image "${CKAN_NAME}:${{ inputs.version_ckan }}"

      - name: Update image version Discovery
        run: |
          az webapp sitecontainers update \
            --name "${AZURE_DISCOVERY_APP_NAME}" \
            --resource-group "${AZURE_DISCOVERY_RESOURCE_GROUP}" \
            --container-name main \
            --is-main true \
            --image "${DISCOVERY_IMAGE}:${{ inputs.version_discovery }}"

      - name: Update SOLR docker-compose file with dynamic versions
        run: |
          sed -i "s|{VERSION_SOLR}|${{ inputs.version_solr }}|g" docker-compose.yml
          sed -i "s|{VERSION_SOLR_WITH_LOWER_DASHES}|${{ inputs.version_solr_with_lower_dashes }}|g" docker-compose.yml

      - name: Deploy SOLR with Docker Compose
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_SOLR_APP_NAME }}
          configuration-file: docker-compose.yml

  deploy-to-prod:
    runs-on: ubuntu-latest
    needs: deploy-to-acc
    environment: prod
    env:  
      AZURE_CKAN_APP_NAME: healthri-ckan
      AZURE_CKAN_RESOURCE_GROUP: healthri
      AZURE_DISCOVERY_APP_NAME: dataset-discovery-service
      AZURE_DISCOVERY_RESOURCE_GROUP: healthri
      AZURE_SOLR_APP_NAME: healthri-ckan-solr
      AZURE_SOLR_RESOURCE_GROUP: healthri
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Update image version CKAN
        run: |
          az webapp sitecontainers update \
            --name "${AZURE_CKAN_APP_NAME}" \
            --resource-group "${AZURE_CKAN_RESOURCE_GROUP}" \
            --container-name main \
            --is-main true \
            --image "${CKAN_NAME}:${{ inputs.version_ckan }}"

      - name: Update image version Discovery
        run: |
          az webapp sitecontainers update \
            --name "${AZURE_DISCOVERY_APP_NAME}" \
            --resource-group "${AZURE_DISCOVERY_RESOURCE_GROUP}" \
            --container-name main \
            --is-main true \
            --image "${DISCOVERY_IMAGE}:${{ inputs.version_discovery }}"

      - name: Update SOLR docker-compose file with dynamic versions
        run: |
          sed -i "s|{VERSION_SOLR}|${{ inputs.version_solr }}|g" docker-compose.yml
          sed -i "s|{VERSION_SOLR_WITH_LOWER_DASHES}|${{ inputs.version_solr_with_lower_dashes }}|g" docker-compose.yml

      - name: Deploy SOLR with Docker Compose
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_SOLR_APP_NAME }}
          configuration-file: docker-compose.yml
